* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(rgba(1, 55, 65, 0.699), rgb(255, 102, 0));
    width:600px;
    max-width: 600px;
    display:grid;
    grid-template-columns:1fr 1.2fr 1fr;
    grid-template-rows:100px 200px 300px;
    grid-template-areas:'search-input search-input search-icon' 'previous-icon game-cover next-icon' 'game-output game-output game-output';
}

.user_input, .result {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.user_input {
    height: 2.5rem;
}

input {
    display: block;
    outline: none;
    padding: 10px;
    border: 3px solid rgba(174, 238, 243, 0.4);
    border-radius: 10px;
}

.search-input {
    width: 80%;
    display: block;
}

.search-submit {
    margin-top: 5px;
    margin-left: 45px;
    width:130px;
    background-color: rgba(0, 0, 0, 0);
}

.previous-submit {
    margin-left: 30px;
    margin-top: 25px;
    width: 130px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0);
}

.next-submit {
    margin-left: 25px;
    margin-top: 25px;
    width: 130px;
    height: 170px;
    background-color: rgba(0, 0, 0, 0);
}



/* .search-submit:hover {
    background: rgba(255, 34, 86, 0.63);
    color: aliceblue;
} */

.result {
    padding-top: 4rem;
}

.orange-border {
    border: 1px solid orange;
    border-radius:10px;
}

.search-input {
    padding: 20px;
    margin: 5px;
    width: 450px;
    font-size: 40px;
}

.search-icon {
    margin: 10px;
}

.previous-icon {
    margin: 5px;
}

.next-icon {
    margin: 5px;
}

.game-cover {
    margin: 10px;
    margin-left: 22px;
}

.game-output {
    display: flex;
    margin: 25px;
    width: 550px;
    height: 250px;
    font-size: 20px;
    overflow: auto;
}

.game {
    margin: 25px;
    color: white;
}

.game p {
  margin-bottom: 10px;
}

/**** LIGHTBOX ****/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 0px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {

}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  /*display: none;*/
  padding-top: 10%;
  padding-left: 10%;
}

.modal-prev, .modal-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
}

.modal-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.modal-prev:hover,
.modal-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
