.search-input {
    padding: 20px;
    margin: 20px;
    width: 440px;
}

.search-icon {
    margin: 10px;
    margin-left: 20px;
}

.previous-icon {
    margin: 20px;
    margin-top: 150px;
}

.next-icon {
    margin: 20px;
    margin-top: 150px;
}