.search-input {
    padding: 20px;
    margin: 5px;
    width: 450px;
    font-size: 40px;
}

.search-icon {
    margin: 10px;
    margin-left: 90px;
}

.previous-icon {
    margin: 50px;
}

.next-icon {
    margin: 50px;
}

.game-cover {
    margin: 10px;
    margin-left: 22px;
}

.game-output {
    margin: 50px;
    width: 500px;
    height: 200px;
    font-size: 20px;
}

.container {
    background: linear-gradient(rgba(1, 55, 65, 0.699), rgb(255, 102, 0));
}